<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8 />
    <link rel="stylesheet" href="../styles/pure/grids.css">
    <link rel="stylesheet" href="../styles/pure/base.css">
    <link rel="stylesheet" href="../styles/pure/forms.css">
    <link rel="stylesheet" href="../styles/pure/tables.css">
    <link rel="stylesheet" href="../styles/pure/buttons.css">
    <link rel="stylesheet" href="../styles/pure/menus.css">
    <link rel="stylesheet" href="../styles/pure/pure.css">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/TimeCircles.css" >
    <script src="../scripts/jquery-1.11.1.js"></script>
    <script type="text/javascript" src="../scripts/TimeCircles.js"></script>
    <script type="text/javascript" src="../scripts/zeroalert.js"></script>
    <title>Type10</title>
</head>
<body>
<div id="game">
    <div id="main-menu" class="pure-g">
        <div id="main" class="pure-u-11-24">
        </div>
        <div id="timer" class="pure-u-2-24" data-timer="60">
        </div>
        <div id="main" class="pure-u-11-24">
        </div>
    </div>
    <div class="pure-g">
        <div id="high-scores" class="pure-u-1-5" >
            <h3>High Scores</h3>
            <table class="pure-table pure-table-horizontal" style="margin-left:5em;">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Username</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>aaa</td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>bbb</td>
                        <td>70</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>ccc</td>
                        <td>60</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="pure-u-3-5">
            <div class="question-box"> 
                <h4>{{question}}</h4>
            </div>
            <div class="attempt-box">
            </div>
            <div class="answer-box">
                <form name="questionForm" id="questionForm" class="pure-form pure-form-stacked">
                    <fieldset>
                        <input class="answer-input" type="text" placeholder="answer" onkeydown="if (event.keyCode == 13) { return checkAnswer(this.value, event); }">
                    </fieldset>
                </form>
            </div>
        </div>
        <div id="correct-answers-box" class="pure-u-1-5">
            <h4>{{Answers}}</h4>
        </div>
    </div>
</div>
<script src="../scripts/main.js"></script>
</body>
</html>