{% extends "layout.html" %}
{% block title %} Dashboard {% endblock %}
        {% block head %}
            {{ super() }}

        {% endblock %}

        {% block content %}
        <div id="game" style="height:auto;">
            <header class="custom-header">
                <img src="../images/logo.png"/>
                <hr />
            </header>
            <div class="menu_admin">
                <ul>
                    <li class="menu_element_admin">
                        <a class="pure-button button-secondary-admin" id="check_questions">
                            <i class="fa fa-check"></i> Check questions
                        </a>
                    </li>
                    <li class="menu_element_admin">
                        <a class="pure-button button-secondary-admin" id="new_question">
                            <i class="fa fa-plus"></i> New question
                        </a>
                    </li>
                    <li class="menu_element_admin">
                        <a class="pure-button button-secondary-admin" href="/">
                            <i class="fa fa-hand-o-left"></i> Go back
                        </a>
                    </li>
                </ul>
            </div>
            <!-- notification messages --> <!-- class="pure-alert pure-alert-error"-->
            <div id="notification_messages" style="display:none">
            </div>
            <!-- Div to show form to get the answers for a specific question -->
            <div id="questions" class="search_question">
                {% if questions %}
                <form id="form_get_answers" class="pure-form" method="GET" action="/answers">
                    <div class="pure-control-group">
                        <label for="question" style="color:white">Select Question </label>
                        <select id="question_title">
                            {% for q in questions %}
                            <option value="{{ q.key().id() }}">{{q.content}}</option>
                            {% endfor %}
                        </select>
                        <button type="button" id="get_answers_refresh" class="pure-button pure-button-primary"><i class="fa fa-refresh fa-spin"></i></button>
                        <button type="submit" id="get_answers" class="pure-button pure-button-primary">Get answers</button>
                    </div>
                </form>
                {% else %}
                <p> NO questions in the system. </p>
                {% endif %}
            </div>
            <!--div to show the results -->
            <div id="question_results" class="top_space">

            </div>
            <div id="new_question_result" style="display:none">
                <form id="form_new_question" class="pure-form pure-form-aligned">
                    <div class="pure-control-group">
                        <label for="question" style="color:white">Question: </label>
                        <input class="pure-input-2-3" id="question" name="question" type="text" placeholder="question" required>
                    </div>
                    <hr />
                    <div class="pure-control-group">
                        <label for="answer_1" style="color:white">Answer # 1</label>
                        <input class="pure-input-1-3" id="answer_1" name="answer_1" type="text" placeholder="Answer #1" required>
                        <select id="new_difficulty_answer_1" name="new_difficulty_answer_1" style="margin-left: 0.3rem">
                            <option value="low">low</option>
                            <option value="medium">medium</option>
                            <option value="high">high</option>
                        </select>
                        <button style="margin-left: 0.3rem" type="button" id="add_answer_1" name="update" class="pure-button pure-button-primary" onClick="addAnswer(this.id)"><i class="fa fa-plus"></i></button>
                    </div>
                    <div id="button_section" class="pure-controls">
                        <button type="button" id="create_new_question" name="update" class="pure-button pure-button-primary">New question</button>
                    </div>
                </form>
            </div>
        </div>
        {% endblock %}
