<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8 />
    <title>Type Ten game </title>
    <link rel="stylesheet" href="../styles/pure/grids.css">
	<link rel="stylesheet" href="../styles/pure/base.css">
	<link rel="stylesheet" href="../styles/pure/forms.css">
	<link rel="stylesheet" href="../styles/pure/tables.css">
	<link rel="stylesheet" href="../styles/pure/buttons.css">
	<link rel="stylesheet" href="../styles/pure/menus.css">
	<link rel="stylesheet" href="../styles/pure/pure.css">
	<link rel="stylesheet" href="../styles/style.css">
	<link rel="stylesheet" href="../styles/custom.css">
	<link rel="stylesheet" href="../styles/font-awesome/css/font-awesome.min.css">
</head>
<body>
<header class="custom-header">
    <img src="../images/logo.png"/>
</header>
<div class="menu">
	<p>Welcome to Type Ten game</p>
	<div class="menu_container">
		<ul>
			<li class="element">
				<a class="pure-button button-secondary" href="#">
					<i class="fa fa-pencil"></i> New game
				</a>
			</li>
			<li class="element">
				<a class="pure-button button-secondary" href="#">
					<i class="fa fa-trophy"></i> Leaderboard
				</a>
			</li>
			<li class="element">
				<a class="pure-button button-secondary" href="#">
					<i class="fa fa-user"></i> Login
				</a>
			</li>
			<li class="element">
				<a class="pure-button button-secondary" href="#">
					<i class="fa fa-gamepad"></i> Instructions
				</a>
			</li>
		</ul>
	</div>
</div>
<footer>
    &copy; Copyright 2015 by Group A.
</footer>
</body>
</html>
