{% extends "layout.html" %}
{% block title %} Dashboard {% endblock %}
        {% block head %}
            {{ super() }}

        {% endblock %}

        {% block content %}
		<div id="game">

                <div id="nav-left" class="pure-u-24-24">
                    <a href="/"><button type="button" class="pure-button pure-button-primary"><i class="fa fa-hand-o-left"></i> Go back</button></a>

				</div>
            <header class="instruction-header">
                <img src="images/logo.png"/>
            </header>
            <script>
			  $(function() {
			    $( "#accordion" ).accordion();
			  });
			</script>
           <p class="demoHeaders">To get high scores read the instructions well. The list below provide instructions
			   for the game, read the headings and click on the button.</p>
			<div id="accordion">
				<h3>Main Menu</h3>
				<div>You can use the main menu to start a new game, view the instruction page or the leaderboard page.
				you can login to the game using your Goolge account.</div>
				<h3>New Game</h3>
				<div>When you select New Game you start a new round. Firstly, you will get a random question about
				a country or a well known place, you have 60 seconds to give 10 answers related to that thing. you have
					to give all the answers with the time allocated otherwise you lose. when you finish the round, you will
					get a new one to play. your score will be in the leaderbord and will move dynamically according to the highest score
				between the players. </div>
				<h3>LeaderBoard</h3>
				<div>will contain all the players scores, the scores move dynamically according to the highest score.</div>
				<h3>Correct Answers</h3>
				<div>Your correct answers will be placed on the right hand side so you can keep an eye on the left ones.</div>
				<h3 id="wrong">Wrong attempts</h3>
				<div>your wrong answers will be placed on the middle and there is no limit on how much you can try to
				get the correct answers.</div>
				<h3>Timer</h3>
				<div>It will be in the top, in each round you get 60 seconds, in the last few seconds the timer will get
					red to alarm you that time is running out, so type faster ! .</div>
	</div>
     </div>
        {% endblock %}

