{% extends "layout.html" %}
{% block title %} Dashboard {% endblock %}
        {% block head %}
            {{ super() }}

        {% endblock %}

        {% block content %}
		<div id="#game">

                <div id="nav-left" class="pure-u-24-24">
                    <a href="/"><button type="button" class="pure-button pure-button-primary"><i class="fa fa-hand-o-left"></i> Go back</button></a>

				</div>
            <header class="instruction-header">
                <img src="images/logo.png"/>
            </header>
           <p class="demoHeaders">To get high scores read the instructions well. The list below provide instructions
			   for the game, read the headings and click on the button.</p>
			<div id="accordion">
	<h3>Main Menu</h3>
	<div>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</div>
	<h3>New Game</h3>
	<div>Phasellus mattis tincidunt nibh.</div>
	<h3>Pause Game</h3>
	<div>Nam dui erat, auctor a, dignissim quis.</div>
	<h3>LeaderBoard</h3>
	<div>Nam dui erat, auctor a, dignissim quis.</div>
	<h3>Correct Answers</h3>
	<div>Nam dui erat, auctor a, dignissim quis.</div>
	<h3>Wrong attempts</h3>
	<div>Nam dui erat, auctor a, dignissim quis.</div>
	<h3>Timer</h3>
	<div>Nam dui erat, auctor a, dignissim quis.</div>
	</div>
     </div>
        {% endblock %}

