{% extends "layout.html" %}
{% block title %} Dashboard {% endblock %}
       
        {% block head %}
            {{ super() }}
        {% endblock %}

        {% block content %}
        <div id="game">
            <div id="nav-menu" class="pure-g">
                <div id="nav-left" class="pure-u-24-24">
                    <a href="/"><button type="button" class="pure-button pure-button-primary"><i class="fa fa-hand-o-left"></i> Go back</button></a>
                    <button type="button" id="start_game" class="pure-button pure-button-success"><i class="fa fa-play"></i> Start game</button>
                    <button type="button" id="pause_game" class="pure-button pure-button-warning"><i class="fa fa-pause"></i> Pause game</button>
                    <button type="button" id="resume_game" class="pure-button pure-button-primary" style="display:none"><i class="fa fa-arrow-right"></i> Resume game</button>
                    
                    <div id="username" value="{{ user_nickname }}">Welcome {{ user_nickname }} !</div>
                </div>
            </div>
            <div id="main-menu" class="pure-g">
                <div id="main" class="pure-u-10-24">
                    <img src="images/logo.png" width="400" height="100">
                </div>
                <div id="timer" class="pure-u-4-24" data-timer="60"></div>
                <div id="timerbetween" class="pure-u-4-24" data-timer="10" style="display:none"></div>
                <div id="main" class="pure-u-10-24"></div>
            </div>
            
            <div id="info">
                <input type="hidden" id="offset" name="-1">
                <input type="hidden" id="round" name="1">
                <input type="hidden" id="current-question" name="-1">
                <input type="hidden" id="total-questions" name="10">
                <input type="hidden" id="current-answer" name="0">
            </div>
            <div id="main-screen" class="pure-g">
                <div id="high-scores" class="pure-u-6-24" >
                    <div id="high-scores-table">
                        <div id="high-scores-table-title">
                            Leaderboard
                        </div>
                        <table class="pure-table pure-table-horizontal" id="leaderboard">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Username</th>
                                    <th>Score</th>
                                </tr>
                            </thead>
                            <tbody>
                                {%set x = 1%}
                                {% for u in users %}
                                    <tr>
                                        <td>{{ x }}</td>
                                        <td>{{ u.user_nickname }}</td>
                                        <td>{{ u.score }}</td>
                                    </tr>
                                    {%set x = x + 1%}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div id="score"></div>
                </div>
                <div class="pure-u-12-24">
                    <div class="question-box"></div>
                    <div class="attempt-box"></div>
                    <div class="answer-box">
                        <form name="answerForm" id="answerForm" class="pure-form pure-form-stacked">
                                <input class="answer-input" type="text" placeholder="answer" onkeydown="if (event.keyCode == 13) { return checkAnswer(this.value); }">
                        </form>
                    </div>
                </div>
                <div id="correct-attempts-box" class="pure-u-6-24">
                    <div id="correct-answers-box-title">
                        Correct Answers
                    </div>
                    <div id="correct-answers-box"></div>
                </div>
            </div>

            {% endblock %}