{% extends "layout.html" %}
{% block title %} Dashboard {% endblock %}
       
        {% block head %}
            {{ super() }}
        {% endblock %}

        {% block content %}
        <!--
        <div class="pure-g">
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            </div>      
        </div>Div to append bootsrap modal-->
        <div id="game">
            <div id="nav-menu" class="pure-g">
                <div id="nav-left" class="pure-u-24-24">
                    <button type="button" id="start_game" class="pure-button pure-button-primary"><i class="fa fa-play"></i> Start game</button>
                    <div id="username" value="{{ user_nickname }}">{{ user_nickname }}</div>
                </div>
            </div>
            <div id="main-menu" class="pure-g">
                <div id="main" class="pure-u-10-24">
                    <img src="images/logo.png"/ width="400" height="100">
                    <div id="score"></div>
                </div>
                <div id="timer" class="pure-u-4-24" data-timer="60"></div>
                <div id="timerbetween" class="pure-u-4-24" data-timer="10" style="display:none"></div>
                <div id="main" class="pure-u-10-24"></div>
            </div>
            
            <div id="info">
                <input type="hidden" id="offset" name="-1">
                <input type="hidden" id="round" name="1">
                <input type="hidden" id="current-question" name="-1">
                <input type="hidden" id="total-questions" name="10">
                <input type="hidden" id="current-answer" name="0">
            </div>
            <div id="main-screen" class="pure-g">
                <div id="high-scores" class="pure-u-6-24" >
                    <div id="high-scores-table">
                        <div id="high-scores-table-title">
                            Leaderboard
                        </div>
                        <table class="pure-table pure-table-horizontal">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Username</th>
                                    <th>Score</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>aaa</td>
                                    <td>100</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>bbb</td>
                                    <td>70</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>ccc</td>
                                    <td>60</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>aaa</td>
                                    <td>100</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>bbb</td>
                                    <td>70</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>ccc</td>
                                    <td>60</td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>aaa</td>
                                    <td>100</td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>bbb</td>
                                    <td>70</td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>ccc</td>
                                    <td>60</td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>ccc</td>
                                    <td>60</td>
                                </tr>
                            </tbody>
                        </table>
                </div>
                </div>
                <div class="pure-u-12-24">
                    <div class="question-box"></div>
                    <div class="attempt-box"></div>
                    <div class="answer-box">
                        <form name="questionForm" id="questionForm" class="pure-form pure-form-stacked">
                            <fieldset>
                                <input class="answer-input" type="text" placeholder="answer" onkeydown="if (event.keyCode == 13) { return checkAnswer(this.value); }">
                            </fieldset>
                        </form>
                    </div>
                </div>
                <div id="correct-attempts-box" class="pure-u-6-24">
                    <div id="correct-answers-box-title">
                        Correct Answers
                    </div>
                    <div id="correct-answers-box"></div>
                </div>
        </div>
    {% endblock %}