@screen-sm-min: 768px;
@screen-md-min: 992px;
@screen-lg-min: 1200px;

html, body
{
    width: 100%;
    height: 100%;
}

.container {
  margin: auto;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { 
    .container {
        max-width: 750px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { 
    .container {
        max-width: 970px;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { 
    .container {
        max-width: 1170px;
    }
}

/* Add column colors for demonstration */

.pure-g > div,
.pure-g-r > div {
  color: white;
  text-align: center;
}

.pure-g :nth-child(odd),
.pure-g-r :nth-child(odd){
}

#game{ 
  width:100%;
  height:100%;
  background-color: #757575;
}

#main{
  height:200px; 
  background-color: white; /* background-color: #757575; */
  /*border-right: 0.2rem solid;
  border-color: black;*/
}

#timer, #timerbetween{
  height:200px; 
  background-color: white; /* background-color: #757575; */
  color: #FF7F27;
}

#high-scores{
  height: 60rem; /*height: 600px;*/
  background-color: #8697AC;
}

#correct-answers-box{
  height: 60rem; /*height: 600px; */
  background-color: white; /*#8697AC */
  border: 1px solid;
  border-color:black;
  font-size: 2.5rem;
}

/* Score Table
-----------------*/
#high-scores-table-title{
  background-color: #FF8F35; /* #FF7F27*/
  border: 0.2rem solid;
  border-color: white;
  color: white;
  font-size: 2.5rem;
}

/* Question Box
-----------------*/
.question-box {
  height:4em;
  padding: 1em;
  background-color: white; /*background-color: #B6C1CE;*/
  color:#009015;
  border: 0.2rem solid;
  border-color: black;
  font-size: 2.5rem;
}

#questionForm{
  margin: 0 auto;
}

.question{
  font-size: 2em;
  padding: 5px 0 5px 0; 
  color: #123752;
}

/* Attempt Box
-----------------*/
.attempt-box {
  height:50rem;
  padding: 1em;
  overflow: auto;
  display: block;
  background-color: white; /*background-color: #708FA3; */
  font-size: 2.5rem;

}

/* Answer Box
-----------------*/
.answer-box{
  padding: 0.3em;
  text-align: center;
  background-color: #123752;
}

.answer-input{
  width: 500px;
  font-size: 2em;
  color: #757575;
}
.answer-box fieldset{
  margin-left: 25%;
  margin-right: 25%;
}

/* Corrrect Answer Box
-----------------*/
#false-answer{
  /*font-size: 3rem;*/
  /*color: #afc8d6;*/
  font-size: 2.5rem;
  vertical-align: bottom;
}

.correct-answer{
  /*font-size: 3em;
  color: #92cc80;*/
  font-size: 1.75rem;
  vertical-align: bottom;
}

.answers {
  margin-top: 0.5rem;
}