@screen-sm-min: 768px;
@screen-md-min: 992px;
@screen-lg-min: 1200px;

html, body
{
    width: 100%;
    height: 100%;
}

.container {
  margin: auto;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { 
    .container {
        max-width: 750px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { 
    .container {
        max-width: 970px;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { 
    .container {
        max-width: 1170px;
    }
}

/* Add column colors for demonstration */

.pure-g > div,
.pure-g-r > div {
  color: white;
  text-align: center;
}

.pure-g :nth-child(odd),
.pure-g-r :nth-child(odd){
}

#game{ 
  width:100%;
  height:100%;
  background-color: #757575;
}

#main{
  height:200px; 
  background-color: #757575;
}

#timer{
  height:200px; 
  background-color: #757575;
}

#high-scores{
  height: 600px;
  background-color: #8697AC;
}

#correct-answers-box{
  height: 600px;
  background-color: #8697AC;
}

/* Question Box
-----------------*/
.question-box {
  height:4em;
  padding: 1em;
  background-color: #B6C1CE;
}

#questionForm{
 margin: 0 auto;
 }

/* Attempt Box
-----------------*/
.attempt-box {
  height:22.35em;
  padding: 1em;
  overflow: auto;
  display:block;
  background-color: #708FA3;
}

/* Answer Box
-----------------*/
.answer-box{
  padding: 0.3em;
  text-align: center;
  background-color: #123752;
}

.answer-input{
  width: 500px;
  font-size: 2em;
  color: #757575;
}
.answer-box fieldset{
  margin-left: 25%;
  margin-right: 25%;
}

/* Corrrect Answer Box
-----------------*/
#false-answer{
  font-size: 3em;
  color: #afc8d6;
  vertical-align: bottom;
}

#correct-answer{
  font-size: 3em;
  color: #92cc80;
  vertical-align: bottom;
}