@screen-sm-min: 768px;
@screen-md-min: 992px;
@screen-lg-min: 1200px;

html, body
{
    width: 100%;
    height: 100%;
}

.container {
  margin: auto;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { 
    .container {
        max-width: 750px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { 
    .container {
        max-width: 970px;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { 
    .container {
        max-width: 1170px;
    }
}

/* Add column colors for demonstration */

.pure-g > div,
.pure-g-r > div {
  color: white;
  text-align: center;
}

.pure-g :nth-child(odd),
.pure-g-r :nth-child(odd){
}

#game{ 
  width:100%;
  height:100%;
  margin:0;
  background-color: #14A2CC;
}

#main{
  height:200px; 
  background-color: #14A2CC;
}

#main img{
  float:left;
}

#timer, #timerbetween{
  height:200px; 
  background-color: #14A2CC; /* background-color: #757575; */
  color: #FF7F27;
}

/* Nav menu 
-----------------*/
#nav-menu{
  background-color: #1983E5;
}

#nav-left button{
  float:left;
}

#username{
  float:right;
  padding: 5px 10px 0 0;
}

/* Question Box
-----------------*/
.question-box {
  height:5rem;
  padding:2.5rem;
  background-color: #B6C1CE; 
  color:#009015;
  font-size: 2.5rem;
}

.question{
  font-size: 2em;
  padding: 5px 0 5px 0; 
  color: #123752;
}

/* Attempt Box
-----------------*/
.attempt-box {
  height:25rem;
  padding: 1em;
  overflow: auto;
  display: block;
  background-color: white; /*background-color: #708FA3; */
  font-size: 2.5rem;

}

/* Answer Box
-----------------*/
#answerForm{
  width:100%;
}

#answerForm input{
  margin:0 auto;
  width: 50%;
  font-size: 2em;
  color: #757575;
}

.answer-box{
  padding: 1.35rem;
  background-color: #123752;
}

/* Corrrect/False Answers
-----------------*/
#false-answer{
  /*font-size: 3rem;*/
  /*color: #afc8d6;*/
  font-size: 2.5rem;
  vertical-align: bottom;
}

.correct-answer{
  font-size: 2.75rem;
  vertical-align: bottom;
}

.answers {
  margin-top: 0.5rem;
}

/* Correct answers 
-----------------*/
#correct-attempts-box{
  height: 47.2rem;
  background-color: #0E497F;
}

#correct-answers-box-title{
  background-color: #00BF30; /* #FF7F27*/
  color: white;
  font-size: 2.5rem;
}

#correct-answers-box{
  height:82%;
  width:100%;
  background-color: #0E497F;
  font-size: 3.5rem;
}

/* Score Table
-----------------*/
#high-scores-table-title{
  background-color: #FF8F35; /* #FF7F27*/
  color: white;
  font-size: 2.5rem;
}

#high-scores{
  height: 47.2rem;
  background-color: #0E497F;
}

#high-scores-table{
  height:82%;
  width:100%;
  background-color: #0E497F;
}

#high-scores table{
  margin:0 auto;
  margin-top: 10%;
  text-align: center;
}

#score{
  height:15%;
  width:50%;
  font-size: 2rem;
  margin:0 auto;
  margin-top:-15px;
  background-color: #1983E5;
}
#score p {
  margin-bottom: 0; 
}
#score .score-number{
  font-size: 4rem;
}

footer{ 
  color: #fff;
  text-align: center;
  padding-top: 3rem;
  font-size: 1.5rem;
  background-color: #14A2CC;
}